<h1>Lista de nuestros productos</h1>
<p>Haga click para insertar un producto</p>
<button type = "button" (click)="enviarPadre('pan')">1.pan</button><br>
<button type = "button" (click)="enviarPadre('cafe')">2.café</button><br>
<button type = "button" (click)="enviarPadre('leche')">3.leche</button><br>
<button type = "button" (click)="enviarPadre('azúcar')">4.azúcar</button><br>
<button type = "button" (click)="enviarPadre('plátanos')">5.plátanos</button><br>
<button type = "button" (click)="enviarPadre('huevos')">6.huevos</button><br>
